<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- My own CSS -->
    <link rel="stylesheet" href="styles.css">

    <title>Weather + News</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="logo.png" class="d-inline-block align-middle">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="index.html">Home<span class="sr-only">(current)</span></a>
          </div>
        </div>
      </div>
    </nav>

    <!-- List -->
    <div class="member_benefits py-5">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h1><%= @weather %></h1>
          </div>
        </div>
        <ul class="list-unstyled mt-4">
          <li class="investors_page_headers h5 font-weight-bold">1) Deal Flow</li>
          <li class="my-4">Through our structured and collaborative deal sourcing process, we enable our members to see far more deal opportunities than typical private investors are likely to see operating independently and our deal flow is growing.  We also have exposure to a growing universe of deals through our sister HBS Alumni Angels organizations operating in other cities around the world.</li>
          <li class="investors_page_headers h5 font-weight-bold">2) Our deals are screened and analyzed</li>
          <li class="my-4">We have a diverse screening committee, whose members have prior experience in venture capital, private investing, investment banking, early stage startup management and a variety of other disciplines.  Our collaboration provides a deeper and broader analytical capability to review deals than is otherwise typically available to private investors.</li>
          <li class="investors_page_headers h5 font-weight-bold">3) Face-to-Face Meetings</li>
          <li class="my-4">Our Angels have the opportunity to meet face-to-face with screened companies.  We hold on average one dinner meeting each calendar quarter, at which we bring together selected companies and our Angels.  The meetings offer great opportunities to evaluate the presenting companies, discuss the opportunities with peers, meet other like-minded investors, and to learn more about early stage investing.</li>
          <li class="investors_page_headers h5 font-weight-bold">4) Collaborative Due Diligence</li>
          <li class="my-4">For those who are interested in potentially investing in a presenting company, we form teams that work together on due diligence, review of deal documents and negotiation of terms.  Most private investors are on their own during this critical process.</li>
          <li class="investors_page_headers h5 font-weight-bold">5) Social Interaction</li>
          <li class="my-4">Our quarterly pitch dinner events and other activities provide great opportunities for interacting with an accomplished group of like minded investors.</li>
        </ul>
      </div>
    </div>
    
    <!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>